body {
  background-image: url(https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  display: flex;
  background-color: lightgrey;
  justify-content: center;
  align-items: center;
}

p {
  color: white;

}
