body {
  background-image: url(https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: serif;
font-size: 30px;
color: white;
text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.result {
display: grid;
grid-template-rows: 1fr 3fr;
grid-template-columns: 1fr 1fr;
border-style: outset;
background-color: rgba(128,128,128,0.8);
padding: 5px 5px;
color: white;
}

.image {
  grid-row: 1 /span 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


/* flex-direction: column;
font-size: 20px;
font-family: sans-serif; */
}
